* {
    padding: 0;
    margin: 0;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    @include flex();
    justify-content: space-between;
    .headline-right {
        @include flex();
    }
    img {
        width: 30px;
        height: 30px;
    }
    .headline-right-text {
        font-size: 1.5em;
    }
}

.button {
    transition: 500ms ease;
    &:hover {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

#headline-icon {
    transition: 500ms ease;
    &:hover {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}